

/*PC and tablets*/
@media ( min-width: 481px  ){

  #footer {
    position: fixed;
    bottom: 0px;
    background-color: black;
    height: 5vh;
    width: 100vw;
  }
  body{
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 10vh 70vh 10vh / 100vw;
  }

  #generalContainer{
    display: grid;
    grid-template: 5vh 60vh 5vh / 5vw 80vw 5vw;
  }
  
  

  #imageContainer{
    display: flex;
    grid-row:2/ 3;
    grid-column: 2/3;
    width: 80vw;
    height: 60vh;
    align-items: center;
    justify-content: center;
  }

  #leftButton{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  #rightButton{
    grid-row: 2 / 3;
    grid-column: 3 / 4
  }

  #imageDisplayed {
    max-width:100%;
    max-height:100%;
  }

  button{
    width:100%;
    height: 100%;
  }

  

}


/*Mobile format*/
@media ( max-width: 480px  ){

}